.container {
  background-color: black;
  height: 100vh;
  color: white;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header h2:nth-child(1) {
  color: #1484CE;
}


.profile__icon {
  width: 50px;
  height: 50px;
}

.profile__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.input_section {
  margin: auto;
  width: 90%;
}

.input_section input {
  border: none;
  background-color: rgb(36, 34, 34);
  padding: 10px;
  width: 100%;
  outline: none;
  color: white;
  border-radius: 10px;
}

.input_section input::placeholder {
  color: rgb(153, 143, 143);
  font-size: large;
}


/* Styling the status updates */

.status__updates {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  margin: 20px auto;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.update__headers {
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.update__headers h2 {
  padding: 10px 0;
  font-size: small;
}

.update__headers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid orange;
}

.update__headers h2 {
  font-weight: 100;
}

/*********Styling the profile page ********/
.user__details {
  margin-left: 10px;
}

.userProfile {
  background-color: black;
  height: 100vh;
  color: white;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: #1380C8;
  padding-bottom: 150px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile__set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__image {
  margin-top: -80px;
  width: 150px;
  height: 150px;
}


.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.badges {
  display: flex;
  align-items: center;
  gap: 10px;
}

.badges svg:nth-child(1) {
  color: orange;
}

.badges svg:nth-child(2) {
  color: yellow;
}

.profile__details span {
  background-color: green;
  padding: 3px 30px;
  border-radius: 10px;
}

.name {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid gray;
}

.name svg {
  font-size: 40px;
  padding: 10px;
  border-radius: 50%;
}

.name p:nth-child(1) {
  color: rgb(145, 137, 137);
  margin-bottom: 2px;
}

/*********Styling the profile page Ends********/




/*********Styling the get Started page ********/

.getStarted {
  width: 100%;
  text-align: center;
}

.getStarted h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.getStarted p {
  color: gray;
}

.button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.button a {
  background-color: #1380C8;
  padding: 10px 90px;
  border-radius: 10px;
}

.image__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image__container {
  width: 50px;
  height: 50px;
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle__images {
  width: 50px;
  height: 50px;
}

.circle__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.centralize__image {
  display: flex;
  align-items: center;
  /* margin-top: 200px; */
  height: 100%;
}

.right__images {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 60px;
}

.center__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.left__images {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 60px;
}

/*********Styling the get Started page ********/