.container {
  background-color: black;
  height: 100vh;
  color: white;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.profile__icon {
  width: 50px;
  height: 50px;
}

.profile__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.input_section {
  margin: auto;
  width: 90%;
}

.input_section input {
  border: none;
  /* background-color: gray; */
  padding: 10px;
  width: 100%;
  outline: none;
  border-radius: 10px;
}

.input_section input::placeholder {
  font-size: large;
}

/* Styling the status updates */

.status__updates {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.update__headers {
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.update__headers h2 {
  padding: 10px 0;
  font-size: small;
}

.update__headers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid orange;
}

.update__headers h2 {
  font-weight: 100;
}