.text__container {
    width: 100%;
    position: relative;
    height: 100vh;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.xender {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-top: 10px;
}

.xender p {
    background-color: #1484CE;
    padding: 3px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.xender small {
    text-align: right;
    margin-right: 10px;
}

.receiver {
    margin-left: 10px;
}

.receiver p {
    width: fit-content;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: gray;
}

.input__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    bottom: 20px;
}

.input__section textarea {
    /* flex: 1; */
    width: 100%;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-left: 2px;
    padding: 0 10px;
    resize: none;
    font-size: 14px;
    display: flex;
    background-color: rgb(44, 44, 44);
    color: white;
}

.input__section svg {
    color: #1484CE;
    margin: 0 12px;
}

.textssss {
    height: 80vh;
    overflow-y: scroll;
}

@media screen and (min-width:700px) {
    .text__container {
        max-width: 80%;
        margin: auto;
    }
}